*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/concrete_seamless.png);
}

p {
    color: gray;
}

.main-wrapper, .wrap{
    width: 100%;
}

.header-menu {
    background-color:#ffffff;
    padding: 15px;
}
.heading h1{
    background-color: #4aaaa5;
    color: #fff;
    width: 180px;
    position: relative;
    top: 28px;
    margin-left: 60px;
}

nav {
    float: right;
    
}

nav ul li {
    display: inline-block;
    margin-right: 60px;
    position: relative;
    bottom: 5px;
    
}

nav ul li a {
    text-decoration: none;
    color: gray;
}

.content-box{
    background-color: #fff;
    height: 500px;
    overflow: scroll;
    padding: 10px;
    margin: 10px 70px;
    
}

.content-box > h1, header h1{
    font-size: 26px;
    padding: 10px;
    color: #4aaaa5;
}

.left-col {
    float: left;
    padding: 10px;
}
.right-col p {
    line-height: 1.5;
}

hr{
    width: 100%;
    margin: 0 auto;
}

footer {
    background-color: gray;
    padding: 20px;
    border-top: 10px solid #4aaaa5;
}

footer h5 {
    color: #fff;
}

/*  Contact */

.formContainer {
    padding-top: 10px;
}

input, textarea {
    width: 90%;
    padding: 10px;
}

button {
    background-color: #4aaaa5;
    padding: 10px;
    width: 100px;
    margin-left: 10px;
    color: #fff;
}

/* Portfolio    */

.showcase{
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px!important;
    margin: 0 auto;
        
}

.innerBox1{
    background: url('../images/img1.jpg') no-repeat center center;
    background-size: cover;
    float: left;
}

.innerBox2{
    background: url('../images/img2.jpg') no-repeat center center;
    background-size: cover;
    float: left;
}

.innerBox3{
    background: url('../images/img3.jpg') no-repeat center center;
    background-size: cover;
    float: left;
}

.innerBox4{
    background: url('../images/img4.jpg') no-repeat center center;
    background-size: cover;
    float: left;
}

.innerBox5{
    background: url('../images/img5.jpg') no-repeat center center;
    background-size: cover;
    float: left;
}

.clearfix {
    clear: both;
}

.innerText {
    background-color: #4aaaa5;
    padding: 10px;
    position: relative;
    top: 140px;
}

.innerText{
    color: #fff;
    
}

@media screen and (max-width: 500px){
    .showcase {
        width: 100%;
    }
}

h5 {
    text-align: center;
}